#logo2{
    border: 3px solid rgb(34, 223, 9);
    width: 80px;
    height: 80px;
    margin-left: 32px;
    margin-top: 5px;
}
#logo1{
    border: 3px solid rgb(117, 21, 243);
    width: 63px;
    height: 77px;
    margin-top: 5px;
    margin-left: 1120px;

}
body{
    overflow-x: hidden;
    margin: 0px;
}
/* .content{
    border: 3px solid rgb(25, 0, 255);
    margin-top: 15px;
    
    height: 200px;
    width: 100%;
    position: absolute;
} */

#imgid{
    border: 3px solid red;
    width: 105%;
    
}
.center{
    
    border: 3px solid pink;
    position: absolute;
 
  
  
}
#railway{
    top: 50%;
    left: 1010px;
    transform: translate(-50%, -50%);
    color: rgb(254, 254, 255);
    font-family: Body,Quicksand,sans-serif;
    font-size: 250%;
    font-weight: 700

}
#safety{
    font-size: 140%;
    font-weight: 200;
    top: 58%;
    transform: translate(-50%, -50%);
    color: rgb(254, 254, 255);
    font-family: Body,Quicksand,sans-serif;
    left:1010px
    
    
}


#boxid{
    position:absolute;
    top: 26%;
    left:6%;
    height: 500px;
    width: 600px;
    border: 3px solid rgb(188, 238, 6); 
    background-color:white;

}
#bookticket{
    border: 3px solid rgb(253, 175, 7);
    font-family: Body,Quicksand,sans-serif!important;
    font-size: xx-large;
    font-weight: 650;
    text-align: center;
    color: #213d77;
    align-items: center;
    

}
#flag{
    border: 2px solid rgb(230, 247, 4);
    padding-left: 30px;
    height: 90px;
    position:absolute;
    align-items: top;
}
#fromid ,#toid{
    border: 2px solid rgb(59, 146, 197);
    margin-left: 4%;
    border-radius: 4px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    
    height: 30px;
    width: 190px;
    border: 1px solid #a6a6a6;
    position:absolute;
    text-align: center;
    
}
#fromid:hover {
    border-color: black;
}
#toid:hover{
    border-color: black;
}
#exchange{
    /* border: 2px solid rgb(77, 241, 91); */
    margin-left: 18%;
    transform: rotate(90deg);
    color: #213d77;
    margin-top: 19px;
    margin-bottom: 3px;
    border-radius: 100%;
    background-image: linear-gradient(#372ab118,#372ab107,#372ab131);
    

}
#exchange:hover{
    cursor: pointer;
}
#locationid{

    /* border: 2px solid rgb(240, 139, 8); */
    position: absolute;
    margin-left: 35px;
    margin-top: 1.25%;
    color: #213d77;

}
#generalid{
    border: 2px solid rgb(59, 146, 197);
    margin-left: 4%;
    border-radius: 4px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    
    height: 30px;
    width: 190px;
    border: 1px solid #a6a6a6;
    position:absolute;
    text-align: center;
    color: #213d77;
    
}
#generalid:hover{
    border-color: black;
}
#general{
    position: absolute;
    margin-left: 20px;
    color: #213d77;
}