.center{

    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;

    border-radius: 500px;
    

}
.box{
    padding: 100px;
    border-top : red double 5px;
    border-left: blue dotted 5px;
    border-right: dashed 5px rgb(253, 167, 6);
    border-bottom:  double 5px green;
    background-color: yellow;
}
button{
    color: pink;
    border: 5px;
    font-style: normal;
    font-size: larger;
    border-radius: 25px;
    background-color: rgb(16, 252, 8);
    outline: white solid;
    outline-offset: 3px;
}